@import "mocha.css";

@define-color bg-hover #272E32;
@define-color lbg #3c3836;
@define-color bg #282828;
@define-color fg #fbf1c7;
@define-color border @lavender;

* {
    border: none;
    margin: 0;
    padding: 0;
    border-radius: 7px;
    font-family: "Hack Nerd Font";
    font-weight: bold;
    font-size: 12px;
    min-height: 12px;
}

#waybar {
    background-color: @bg;
    color: @fg;
    /* border: 1px solid @border; */
    border-radius: 7px;
    margin-right: 5px;
    padding-right: 5px;
}

tooltip {
    background: @bg;
    border-radius: 7px;
    border: 2px solid @border;
}


#window {
    margin: 5px 5px 2px 5px;
    padding-left: 10px;
    padding-right: 7px;
    border-radius: 3px;
    border-bottom: 2px solid @bg;
    border-right: 2px solid @bg;
    border-color: @lbg;
    background-color: @yellow;
    color: @bg;
}

window#waybar.empty #window {
    background-color: transparent;
    border-bottom: none;
    border-right: none;
}

window#waybar {
    background-color: transparent;
}

@keyframes button_activate {
    from {
        opacity: .3
    }

    to {
        opacity: 1.;
    }
}

#workspaces {
    margin: 5px 5px 2px 5px;
    border-radius: 15px;
    padding: 1px;
    background-color: @bg;
    color: @bg;
}

#workspaces button {
    margin: 5px 2px 5px 2px;
    border-radius: 10px;
    padding-left: 3px;
    padding-right: 9px;
    background-color: @bg;
    color: @fg;
}

/* needed for sway workspaces */
#workspaces button.active {
    background-color: @blue;
    color: @bg;
}

/* need for hyprland workspaces */
#workspaces button.active {
    background-color: @blue;
    color: @bg;
}

#workspaces button.urgent {
    color: #F38BA8;
}

#workspaces button:hover {
    color: @base;
    border: solid transparent;
}

#custom-gpu-util {
    margin: 5px 5px 2px 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 7px;
    background-color: @bg;
    color: @fg;
}

#tray {
    margin: 5px 5px 2px 5px;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: @bg;
    color: @fg;
}

#idle_inhibitor {
    margin: 5px 2px 2px 5px;
    padding-left: 10px;
    padding-right: 12px;
    border-radius: 3px;
    background-color: @bg;
    color: @fg;
}


#network {
    margin: 5px 5px 2px 5px;
    padding-left: 10px;
    padding-right: 12px;
    border-radius: 7px;
    background-color: @bg;
    color: @fg;
}

#network.linked {
    color: @peach;
}

#network.disconnected,
#network.disabled {
    color: @red;
}

/* not sure */
#custom-subs {
    color: @fg;
    margin: 5px 5px 2px 5px;
    padding-left: 10px;
    padding-right: 12px;
    border-radius: 3px;
    border-bottom: 2px solid @bg;
    border-right: 2px solid @bg;
    border-color: @lbg;
    background-color: @red;
}

#hardware {
    border-radius: 0px 8px 8px 0px;
    margin: 0px;
    padding: 0px;
}

#keyboard
#keyboard-state,
#disk,
#memory,
#cpu,
#language #custom-clipboard,
#temperature {
    margin: 5px 5px 2px 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    color: @fg;
    background-color: @bg;

}

/* not sure */
#custom-playerctl {
    margin: 5px 5px 2px 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    color: @fg;
    background-color: @bg;
}

#battery,
#backlight,
#bluetooth,
#pulseaudio {
    margin-top: 5px;
    margin-bottom: 2px;
    color: @fg;
    background-color: @bg;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#battery,
#bluetooth {
    margin-left: 0px;
    margin-right: 5px;
    padding-left: 7.5px;
    padding-right: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

#backlight,
#pulseaudio {
    margin-right: 0px;
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 7.5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#clock {
    margin: 5px 5px 2px 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    color: @fg;
    background-color: @bg;
}

#taskbar {
    border-radius: 0px 8px 8px 0;
    padding: 0 3px;
    margin: 0 0px;
    color: #ffffff;
    background-color: rgba(120, 118, 117, 0.3);
}

#taskbar button {
    border-radius: 3px 3px 3px 3px;
    padding: 0 0 0 3px;
    margin: 3px 1;
    color: #ffffff;
    background-color: rgba(120, 118, 117, 0.1);
}

#taskbar button.active {
    background-color: rgba(120, 118, 117, 0.8);
}

#mode {
    margin: 5px 5px 2px 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    background-color: @bg;
    color: @fg;
}

#custom-weather {
    margin: 5px 5px 2px 1px;
    padding-left: 10px;
    padding-right: 12px;
    border-radius: 1px;
    background-color: @bg;
    color: @fg;
}

#custom-exit {
    margin: 5px 5px 2px 1px;
    padding-left: 10px;
    padding-right: 12px;
    border-radius: 1px;
    background-color: @bg;
    color: @fg;
}

#custom-browser-chrome,
#custom-browser-firefox,
#custom-keybindings,
#custom-outlook,
#custom-filemanager,
#custom-calculator,
#custom-windowsvm,
#custom-wallpaper,
#custom-settings,
#custom-wallpaper,
#custom-system,
#custom-waybarthemes {
    margin-right: 23px;
    font-size: 14px;
    font-weight: bold;
    opacity: 0.8;
    color: @fg;
}

#custom-appmenu,
#custom-appmenuwlr {
    color: @fg;
    background-color: @bg;
    padding: 0px 10px 0px 10px;
    margin: 3px 15px 3px 5px;
    border-radius: 15px;
}

#custom-system {
    margin-right: 15px;
}

#language {
    margin-right: 10px;
}

/* #idle_inhibitor.activated {
    margin-right: 15px;
    font-size: 14px;
    font-weight: bold;
    opacity: 0.8;
    color: #dc2f2f;
} */