/* -----------------------------------------------------
 * Import Pywal colors 
 * ----------------------------------------------------- */
@define-color foreground #afbbe5;
@define-color background #0E1716;
@define-color cursor #afbbe5;

@define-color color0 #0E1716;
@define-color color1 #284B91;
@define-color color2 #2A509B;
@define-color color3 #3057A9;
@define-color color4 #4F67AF;
@define-color color5 #5473C9;
@define-color color6 #8A739D;
@define-color color7 #afbbe5;
@define-color color8 #7a82a0;
@define-color color9 #284B91;
@define-color color10 #2A509B;
@define-color color11 #3057A9;
@define-color color12 #4F67AF;
@define-color color13 #5473C9;
@define-color color14 #8A739D;
@define-color color15 #afbbe5;


* {
  font-family: "Hack Nerd Font", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  background-image: none;
  transition: 20ms;
  box-shadow: none;
}

window {
  background: url("../hypr/themes/arch-4k.png");
  background-size: cover;
}

button {
  color: #FFFFFF;
  font-size: 20px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;

  border-style: solid;
  background-color: rgba(12, 12, 12, 0.3);
  border: 3px solid #FFFFFF;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:focus,
button:active,
button:hover {
  color: @color11;
  background-color: rgba(12, 12, 12, 0.5);
  border: 3px solid @color11;
}

#lock {
  margin: 10px;
  border-radius: 20px;
  background-image: image(url("icons/lock.png"));
}

#logout {
  margin: 10px;
  border-radius: 20px;
  background-image: image(url("icons/logout.png"));
}

#suspend {
  margin: 10px;
  border-radius: 20px;
  background-image: image(url("icons/suspend.png"));
}

#hibernate {
  margin: 10px;
  border-radius: 20px;
  background-image: image(url("icons/hibernate.png"));
}

#shutdown {
  margin: 10px;
  border-radius: 20px;
  background-image: image(url("icons/shutdown.png"));
}

#reboot {
  margin: 10px;
  border-radius: 20px;
  background-image: image(url("icons/reboot.png"));
}